In [3]:
import pandas as pd
import os
import glob

In [5]:

#read the path
file_path = "/Users/michealmccloskey/Desktop/citibike_tableau/Resources"
#list all the files from the directory
file_list = os.listdir(file_path)

file_list

['september_citibike.csv',
 '.DS_Store',
 'may_citibike.csv',
 'july_citibike.csv',
 'june_citibike.csv',
 'april_citibike.csv',
 'nov_citibike.csv',
 'feb_citibike.csv',
 'march_citibike.csv',
 'jan_citibike.csv',
 'august_citibike.csv',
 'oct_citibike.csv',
 'dec_citibike.csv']

In [6]:
file_path = 'Resources/april_citibike.csv'

# Read the CSV file into a DataFrame
df1 = pd.read_csv(file_path)

# Display the first few rows of the DataFrame
df1.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,59B1078FC3455D5B,electric_bike,2023-04-02 14:50:55,2023-04-02 15:01:24,Hamilton Park,JC009,Hamilton Park,JC009,40.727596,-74.044247,40.727596,-74.044247,member
1,84365D599B6E002E,electric_bike,2023-04-15 21:08:54,2023-04-16 10:54:44,Hamilton Park,JC009,Hamilton Park,JC009,40.727596,-74.044247,40.727596,-74.044247,casual
2,A4F033EAA7810781,classic_bike,2023-04-17 10:35:11,2023-04-17 10:37:53,Hamilton Park,JC009,Monmouth and 6th,JC075,40.727596,-74.044247,40.725685,-74.048790,member
3,E9051DFD91E516BF,classic_bike,2023-04-07 12:19:31,2023-04-07 12:21:52,Hamilton Park,JC009,Monmouth and 6th,JC075,40.727596,-74.044247,40.725685,-74.048790,member
4,0F6D86AEC1B29205,classic_bike,2023-04-07 12:28:21,2023-04-07 12:30:23,Hamilton Park,JC009,Monmouth and 6th,JC075,40.727596,-74.044247,40.725685,-74.048790,member

In [7]:
file_path = 'Resources/may_citibike.csv'

# Read the CSV file into a DataFrame
df2 = pd.read_csv(file_path)

In [8]:
file_path = 'Resources/june_citibike.csv'

# Read the CSV file into a DataFrame
df3 = pd.read_csv(file_path)

In [9]:
file_path = 'Resources/july_citibike.csv'

# Read the CSV file into a DataFrame
df4 = pd.read_csv(file_path)

In [10]:
file_path = 'Resources/august_citibike.csv'

# Read the CSV file into a DataFrame
df5 = pd.read_csv(file_path)

In [11]:
file_path = 'Resources/september_citibike.csv'

# Read the CSV file into a DataFrame
df6= pd.read_csv(file_path)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,4052081EAF41D252,classic_bike,2023-09-01 17:25:27,2023-09-01 17:31:13,Baldwin at Montgomery,JC020,Liberty Light Rail,JC052,40.723484,-74.064445,40.711242,-74.055701,member
1,330043C418DD78E3,classic_bike,2023-09-01 12:57:39,2023-09-01 13:08:50,Baldwin at Montgomery,JC020,Exchange Pl,JC116,40.723503,-74.064276,40.716366,-74.034344,casual
2,4D0F3462818482CF,classic_bike,2023-09-28 08:52:24,2023-09-28 09:15:37,Baldwin at Montgomery,JC020,Baldwin at Montgomery,JC020,40.723508,-74.064379,40.723659,-74.064194,member
3,BF4A3EBF9352E283,classic_bike,2023-09-02 15:25:33,2023-09-02 15:57:11,Baldwin at Montgomery,JC020,Baldwin at Montgomery,JC020,40.723659,-74.064194,40.723659,-74.064194,casual
4,957FA73CA6E0C552,classic_bike,2023-09-14 16:46:42,2023-09-14 17:01:18,Baldwin at Montgomery,JC020,Paulus Hook,JC002,40.723659,-74.064194,40.714145,-74.033552,casual

In [13]:
file_path = 'Resources/jan_citibike.csv'

# Read the CSV file into a DataFrame
df7= pd.read_csv(file_path)
df7.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,0905B18B365C9D20,classic_bike,2023-01-28 09:18:10,2023-01-28 09:28:52,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hamilton Park,JC009,40.735938,-74.030305,40.727596,-74.044247,member
1,B4F0562B05CB5404,electric_bike,2023-01-23 20:10:12,2023-01-23 20:18:27,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Southwest Park - Jackson St & Observer Hwy,HB401,40.735938,-74.030305,40.737551,-74.041664,member
2,5ABF032895F5D87E,classic_bike,2023-01-29 15:27:04,2023-01-29 15:32:38,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Marshall St & 2 St,HB408,40.735944,-74.030383,40.740802,-74.042521,member
3,E7E1F9C53976D2F9,classic_bike,2023-01-24 18:35:08,2023-01-24 18:42:13,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hamilton Park,JC009,40.735986,-74.030364,40.727596,-74.044247,member
4,323165780CA0734B,classic_bike,2023-01-21 20:44:09,2023-01-21 20:48:08,Hamilton Park,JC009,Manila & 1st,JC082,40.727596,-74.044247,40.721651,-74.042884,member

In [14]:
file_path = 'Resources/feb_citibike.csv'

# Read the CSV file into a DataFrame
df8= pd.read_csv(file_path)

In [15]:
file_path = 'Resources/march_citibike.csv'

# Read the CSV file into a DataFrame
df9= pd.read_csv(file_path)

In [20]:
file_path = 'Resources/oct_citibike.csv'

# Read the CSV file into a DataFrame
df10= pd.read_csv(file_path)

In [21]:
file_path = 'Resources/nov_citibike.csv'

# Read the CSV file into a DataFrame
df11= pd.read_csv(file_path)

In [22]:
file_path = 'Resources/dec_citibike.csv'

# Read the CSV file into a DataFrame
df12= pd.read_csv(file_path)

In [41]:

# Concatenate the DataFrames along the rows axis
merged_df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12])

# Reset the index of the merged DataFrame
merged_df.reset_index(drop=True, inplace=True)
merged_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,59B1078FC3455D5B,electric_bike,2023-04-02 14:50:55,2023-04-02 15:01:24,Hamilton Park,JC009,Hamilton Park,JC009,40.727596,-74.044247,40.727596,-74.044247,member
1,84365D599B6E002E,electric_bike,2023-04-15 21:08:54,2023-04-16 10:54:44,Hamilton Park,JC009,Hamilton Park,JC009,40.727596,-74.044247,40.727596,-74.044247,casual
2,A4F033EAA7810781,classic_bike,2023-04-17 10:35:11,2023-04-17 10:37:53,Hamilton Park,JC009,Monmouth and 6th,JC075,40.727596,-74.044247,40.725685,-74.048790,member
3,E9051DFD91E516BF,classic_bike,2023-04-07 12:19:31,2023-04-07 12:21:52,Hamilton Park,JC009,Monmouth and 6th,JC075,40.727596,-74.044247,40.725685,-74.048790,member
4,0F6D86AEC1B29205,classic_bike,2023-04-07 12:28:21,2023-04-07 12:30:23,Hamilton Park,JC009,Monmouth and 6th,JC075,40.727596,-74.044247,40.725685,-74.048790,member

In [24]:
merged_df=merged_df.rename(columns={
    "ride_id":"Ride ID",
    "rideable_type":"Vehicle Type",
    "started_at":"Start Info",
    "ended_at":"End Info",
    "start_station_name":"Start Station Name",
    "start_station_id":"Start Station ID",
    "end_station_name":"End Station Name",
    "end_station_id":"End Station ID",
    "start_lat":"Start Latitude",
    "start_lng":"Start Longitude",
    "end_lat":"End Latitude",
    "end_lng":"End Longitude",
    "member_casual":"Membership Type"
})
merged_df.head()

,Ride ID,Vehicle Type,Start Info,End Info,Start Station Name,Start Station ID,End Station Name,End Station ID,Start Latitude,Start Longitude,End Latitude,End Longitude,Membership Type
0,59B1078FC3455D5B,electric_bike,2023-04-02 14:50:55,2023-04-02 15:01:24,Hamilton Park,JC009,Hamilton Park,JC009,40.727596,-74.044247,40.727596,-74.044247,member
1,84365D599B6E002E,electric_bike,2023-04-15 21:08:54,2023-04-16 10:54:44,Hamilton Park,JC009,Hamilton Park,JC009,40.727596,-74.044247,40.727596,-74.044247,casual
2,A4F033EAA7810781,classic_bike,2023-04-17 10:35:11,2023-04-17 10:37:53,Hamilton Park,JC009,Monmouth and 6th,JC075,40.727596,-74.044247,40.725685,-74.048790,member
3,E9051DFD91E516BF,classic_bike,2023-04-07 12:19:31,2023-04-07 12:21:52,Hamilton Park,JC009,Monmouth and 6th,JC075,40.727596,-74.044247,40.725685,-74.048790,member
4,0F6D86AEC1B29205,classic_bike,2023-04-07 12:28:21,2023-04-07 12:30:23,Hamilton Park,JC009,Monmouth and 6th,JC075,40.727596,-74.044247,40.725685,-74.048790,member

In [26]:
# Data Cleaning Process

# Checking for missing values in each column
missing_values = merged_df.isnull().sum()
missing_values

Ride ID                  0
Vehicle Type             0
Start Info               0
End Info                 0
Start Station Name      85
Start Station ID        85
End Station Name      3319
End Station ID        3319
Start Latitude           0
Start Longitude          0
End Latitude           954
End Longitude          954
Membership Type          0
dtype: int64

In [28]:
# Checking for duplicate entries
duplicate_rows = merged_df.duplicated().sum()
duplicate_rows

0

In [29]:
# Analyzing the data types of each column to see if any conversions are needed
data_types = merged_df.dtypes
data_types

Ride ID                object
Vehicle Type           object
Start Info             object
End Info               object
Start Station Name     object
Start Station ID       object
End Station Name       object
End Station ID         object
Start Latitude        float64
Start Longitude       float64
End Latitude          float64
End Longitude         float64
Membership Type        object
dtype: object

In [30]:
# Replace missing values
merged_df.fillna("Unknown", inplace=True)

# Convert date columns to datetime
merged_df['Start Info'] = pd.to_datetime(merged_df['Start Info'])
merged_df['End Info'] = pd.to_datetime(merged_df['End Info'])

/var/folders/ry/_22269n950s4yfgx8rkg1p0m0000gn/T/ipykernel_58493/4073485346.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  merged_df.fillna("Unknown", inplace=True)

In [31]:
merged_df.dtypes

Ride ID                       object
Vehicle Type                  object
Start Info            datetime64[ns]
End Info              datetime64[ns]
Start Station Name            object
Start Station ID              object
End Station Name              object
End Station ID                object
Start Latitude               float64
Start Longitude              float64
End Latitude                  object
End Longitude                 object
Membership Type               object
dtype: object

In [33]:
# convert End Lat/Lng to float
# merged_df['End Latitude']= merged_df['End Latitude'].astype(float)
# merged_df['End Longitude']= merged_df['End Longitude'].astype(float)
merged_df['End Latitude'] = pd.to_numeric(merged_df['End Latitude'], errors='coerce')
merged_df['End Longitude'] = pd.to_numeric(merged_df['End Longitude'], errors='coerce')

merged_df.dtypes

Ride ID                       object
Vehicle Type                  object
Start Info            datetime64[ns]
End Info              datetime64[ns]
Start Station Name            object
Start Station ID              object
End Station Name              object
End Station ID                object
Start Latitude               float64
Start Longitude              float64
End Latitude                 float64
End Longitude                float64
Membership Type               object
dtype: object

In [34]:
# save to csv
merged_df.to_csv('citibike2023.csv', index=False)

In [35]:
merged_df.head()

,Ride ID,Vehicle Type,Start Info,End Info,Start Station Name,Start Station ID,End Station Name,End Station ID,Start Latitude,Start Longitude,End Latitude,End Longitude,Membership Type
0,59B1078FC3455D5B,electric_bike,2023-04-02 14:50:55,2023-04-02 15:01:24,Hamilton Park,JC009,Hamilton Park,JC009,40.727596,-74.044247,40.727596,-74.044247,member
1,84365D599B6E002E,electric_bike,2023-04-15 21:08:54,2023-04-16 10:54:44,Hamilton Park,JC009,Hamilton Park,JC009,40.727596,-74.044247,40.727596,-74.044247,casual
2,A4F033EAA7810781,classic_bike,2023-04-17 10:35:11,2023-04-17 10:37:53,Hamilton Park,JC009,Monmouth and 6th,JC075,40.727596,-74.044247,40.725685,-74.048790,member
3,E9051DFD91E516BF,classic_bike,2023-04-07 12:19:31,2023-04-07 12:21:52,Hamilton Park,JC009,Monmouth and 6th,JC075,40.727596,-74.044247,40.725685,-74.048790,member
4,0F6D86AEC1B29205,classic_bike,2023-04-07 12:28:21,2023-04-07 12:30:23,Hamilton Park,JC009,Monmouth and 6th,JC075,40.727596,-74.044247,40.725685,-74.048790,member

In [37]:
busiest_start_station = merged_df.groupby('Start Station Name').size().idxmax()
busiest_start_station

'Grove St PATH'

In [39]:
busiest_start_stations = merged_df.groupby('Start Station Name').size().nlargest(20)
busiest_start_stations

Start Station Name
Grove St PATH                                   47010
Hoboken Terminal - River St & Hudson Pl         43698
South Waterfront Walkway - Sinatra Dr & 1 St    31288
Hoboken Terminal - Hudson St & Hudson Pl        27262
City Hall - Washington St & 1 St                24252
Newport PATH                                    23370
Hamilton Park                                   21594
Newport Pkwy                                    20700
Bergen Ave & Sip Ave                            20698
11 St & Washington St                           18792
12 St & Sinatra Dr N                            18680
8 St & Washington St                            17760
Marin Light Rail                                17586
Hoboken Ave at Monmouth St                      17307
City Hall                                       16783
Columbus Park - Clinton St & 9 St               15992
Harborside                                      15800
14 St Ferry - 14 St & Shipyard Ln               15706
Liberty Light Rail                              15534
Clinton St & 7 St                               15290
dtype: int64